QWidget{
    background-color: rgb(46,47,48);
}

QMenuBar{
    color:rgb(231,231,231);
    background-color: rgb(46,47,48);
}

QMenu{
    color:rgb(231,231,231);
    background-color: rgb(55,55,55);
}

QMenuBar::item:selected{
    background-color: rgb(80,80,80);
}

QMenu::item:selected{
    background-color: rgb(39,96,154);
}
